body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #FAF9F6;
}

.container {
    display: flex;
    margin: 0;
    width: 80%;
    height: 80vh;
    justify-content: center;
}

.banner {
    display: fle;
    background-image: url("../assets/image.jpg");
    background-size: cover;
    /* Makes it fill the screen */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents tiling */
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */

}

.strip {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    justify-content: center;
    width: 100%;
    opacity: 0.6;
    color: white;
}

.logo img {
    width: 50px;
    height: auto;
} 

.form {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 5px;
    font-weight: 100;
    font-style:oblique;
    font-size: small;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

fieldset {
    border: 1px dashed;
    padding: 5px;
    margin: 10px;
    text-align: left;
}

button {
    width: 13vw;
    height: 5vh;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #8A9A5B;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}

.form .form {
    background-color: #F8F0E3;
    border-radius: 2px;
}

input {
    border: 1px solid #F5F5F5;
    background-color: #ffffff;
}

